* {
  background-color: aquamarine;
}

h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 6em;
}

table{
 border: 1px solid black;
}

td { 
  /* data font */
  font-family: Arial, Helvetica, sans-serif;
}

 tfoot, th, td {
  border: 1px solid black;
  padding: 10px;
  color: #111;
}


body {
  /* text font */
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #444;
  /* height: 100px; */

}

nav {
  width: 960 px;
}

header img {
  margin-top: 15px;
  float: left;
}

header li {
  display: inline-block;
  line-height: 100px;
  margin-left: 90px;
}

header li:first-child{
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #aaa;

}

main {
  width: 960px;
  margin: auto;
  overflow: hidden;
}

main img {
  margin-top: 100px;
}


main h4 {
  font-size: 6em;
}

#locations {
text-decoration: none;
color: #aaa;
}

#hours{
  text-decoration: none;
  color: #aaa;
}

#contacts ul li {
  text-decoration: none;
  color: #aaa;
}

main li {
  float: left;
  margin-left: 30px;
}

main li:first-child {
  margin-left: 0px;
}

main article {
  width: 50%;
  float: right;
  margin-top: 50px;
}

section img{
  float:right;
}

main h3 {
  margin-left: 30px;
  font-size: 20px;

}

main p {
  margin-left: 30px;
  margin-top: 5px;
  line-height: 20px;
  font-style: italic;
  overflow: auto;
  height: 335px;
}

main div {
  margin-left: 30px;
  background-color: #111;
  display: inline-block;
  color: #aaa;
  padding: 10px 30px;
  margin-top: 5px;
  border-radius: 5px;

}

main div:hover {
  background-color: #aaa;
  transition: 350ms;
  color: red;

}
footer {
  background-color: #444;
  height: 125px;
  position: relative;
}
