* {
  background-color: aquamarine;
}

ul{
  list-style: inside;
}

table{
 border: 1px solid black;
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

tfoot:first-child {
  border: 1px solid black;
  padding: 10px;
}

